* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: arial;
     background: #E42312;
}

/* UTILITIES */
:focus {
     outline: 0;
}

h2 {
     font-size: 36px;
     text-transform: uppercase;
     margin: 20px 0;
}

.hidden {
     opacity: 0;
}
.show {
     opacity: 1;
}
/* /UTILITIES */


#wrapper {
     width: 80%;
     margin: 10px auto;
     text-align: center;
}

#wrapper_top > #ticket_generator {
     width: 100%;
     background: #F8F8F8;
     color:  #E42312;
     font-weight: bold;
     box-shadow: 1px 3px 5px #000000;
     border-radius: 10px;
}

#ticket_generator > .ticket_generator_top {
     display: flex;
     justify-content: space-around;
     padding: 30px 0;
}
.ticket_generator_top .form_container > input,
.ticket_generator_top .form_container > select#age {
     display: block;
     font-weight: bold;
     margin-top: 10px;
     padding: 10px;
     text-align: center;
     border: 0;
     box-shadow: 0px 0px 2px 1px #000000;
     border-radius: 5px;
}

#ticket_generator > .ticket_generator_bottom {
     padding: 30px 0;
}


.btn {
     display: inline-block;
     padding: 12px 20px;
     margin: 0 30px;
     color: #fff;
     background: #E42312;
     border: 2px solid #544d55;
     font-weight: bold;
     cursor: pointer;
     transition: background 0.3s;
}
.btn:hover {
     background: #e25d51;
     border: 2px solid #353336;
}

#wrapper_bottom {
     margin-top: 60px;
}

#wrapper_bottom > #ticket_printed {
     width: 100%;
     background: #b8b8b8;
     padding: 20px;
     text-align: left;
          height: 200px;
}

#ticket_printed .info {
     display: flex;
          height: 100%;
}

.info > .info_left {
     width: 25%;
          height: 80%;
     background: #868686;
}
.info > .info_right {
     width: 75%;
          height: 80%;
     background: #fff;
}

.info_right th,
.info_right td {
     padding: 0 20px;
}
