* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: arial;
     background: #E42312;
}

/* UTILITIES */
:focus {
     outline: 0;
}

h2 {
     font-size: 36px;
     text-transform: uppercase;
     margin: 20px 0;
}

.hidden {
     width: 0%;
     opacity: 0;
     transition: width 2s 0.1s, opacity 0.8s;
}
.show {
     width: 100%;
     opacity: 1;
     transition: width 0.7s, opacity 2s;
}

.btn {
     display: inline-block;
     padding: 12px 20px;
     margin: 0 30px;
     color: #fff;
     background: #E42312;
     border: 2px solid #544d55;
     font-weight: bold;
     cursor: pointer;
     transition: background 0.3s;
}
.btn:hover {
     background: #e25d51;
     border: 2px solid #353336;
}
/* /UTILITIES */


#wrapper {
     width: 80%;
     margin: 10px auto;
     text-align: center;
}

#wrapper_top > #ticket_generator {
     width: 100%;
     background: #F8F8F8;
     color:  #E42312;
     font-weight: bold;
     box-shadow: 1px 3px 5px #000000;
     border-radius: 10px;
}

#ticket_generator > .ticket_generator_top {
     display: flex;
     justify-content: space-around;
     padding: 30px 0;
}
.ticket_generator_top .form_container > input,
.ticket_generator_top .form_container > select#age {
     display: block;
     font-weight: bold;
     margin-top: 10px;
     padding: 10px;
     text-align: center;
     border: 0;
     box-shadow: 0px 0px 2px 1px #000000;
     border-radius: 5px;
}

#ticket_generator > .ticket_generator_bottom {
     padding: 30px 0;
}

#wrapper_bottom {
     margin-top: 60px;
}

#wrapper_bottom > #ticket_printed {
     background: #F8F8F8;
     padding: 20px;
     text-align: left;
     box-shadow: 1px 3px 5px #000000;
     border-radius: 10px;
}

#ticket_printed > h3 {
     text-transform: uppercase;
     margin-bottom: 7px;
}

#ticket_printed .info {
     display: flex;
}

.info > .info_left {
     width: 25%;
     padding: 20px;
     background: #FFF6C5;
     border-right: 2px dotted #000;
     border-radius: 7px;
}
.info_left > h5 {
     margin-bottom: 15px;
     text-transform: uppercase;
}
.info_left > h4 {
     color: #E42312;
     text-transform: capitalize;
}


.info > .info_right {
     display: flex;
     justify-content: space-around;
     width: 75%;
     padding: 20px;
     background: #FFF6C5;
     border-radius: 7px;
}

.info_right > .info_right_item > h4 {
     font-size: 18px;
     margin-bottom: 70px;
     text-transform: uppercase;
}

.info_right > .info_right_item > h6 {
     font-size: 13px;
     text-transform: uppercase;
}
